/* Empieza division filtro con productos*/

.filtro-productos {
    @include flex(row,wrap,center,none);
    margin-top: 7.5rem;
}

/* termina division filtro con productos*/

.filtros-padre {
    margin-top: 2.5rem;
    padding-right: 8.75rem;
}

.filtros-titulos {
    color: map-get($color, filtro);
    font-size: 1.5rem;
}

.filtros-lista{
    color: map-get($color, letra);
    font-size: 1.25rem;
}