/* Empieza division filtro con productos*/

.filtro-productos {
    display: flex;
    justify-content: center;
    margin-top: 7.5rem;
}

/* termina division filtro con productos*/

.filtros-padre {
    margin-top: 2.5rem;
    padding-right: 8.75rem;
}

.filtros-titulos {
    color: #868686;
    font-size: 1.5rem;
}

.filtros-lista{
    color: #D9D9D9;
    font-size: 1.25rem;
}