.cuerpo-ofertas{
    width: 100%;
    @include flex(row,wrap,center,center);
    background-color: map-get($color , letra);
    height: 9.375rem;
}

.txt-ofertas {
    color: map-get($color , negro);
    margin-left: .625rem;
}

.txt-ofertas p{
    font-size: 1.25rem;
}

.Icon-padre {
    @include flex(none,none,center,center);
    color: map-get($color , negro);
    padding-left: 18.75rem;
    text-align: center;
}
.icon-txt{
    font-size: 20px;
}

.txt{
    max-width: 7.5rem;
    margin: 0px 1.875rem;
}

.txt a{
    font-size: 1.25rem;
    color: map-get($color, productos);
}

.icon{
    font-size: 1.25rem;
    margin: 0rem 1.875rem;
}