.titulo-perifericos-1{
    font-size: 1.625rem;
    font-weight: bold;
    margin-bottom: -1.25rem;
}

.contenedor-perifericos{
    background-image: url(../assets/IMG/PERIFERICOS/FONDO\ PERIFERICO.png);
    background-repeat: no-repeat;
    width: 59.125rem;
    height: 29.375rem;
    border-radius: 1.25rem;
}

.contenedor-gabinetes{
    background-image: url(../assets/IMG/PERIFERICOS/FONDO\ GABINETE.png);
    background-repeat: no-repeat;
    width: 59.125rem;
    height: 29.375rem;
    border-radius: 1.25rem;
}

.contenedor-graficas{
    background-image: url(../assets/IMG/PERIFERICOS/FONDO\ GRAFICA.png);
    background-repeat: no-repeat;
    width: 59.125rem;
    height: 29.375rem;
    border-radius: 1.25rem;
}

.grupo-productos{
    @include flex(row,wrap,end,none);
    margin-right: 1.875rem;
    margin-top: 1.875rem;
}

.txt-perifericos{
    margin: 0 10px;
}

.txt-perifericos p{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.txt-perifericos h3{
    margin-bottom: .375rem;
    font-size: 18px;
    font-weight: 400;
}

.btn-agregar-mas-vendidos{
    text-align: center;
}

.btn-agregar-mas-vendidos button{
    font-size: 1rem;
    margin-bottom: .625rem;
    margin-top: .3125rem;
    background-color: map-get($color , letra);
    border: none;
    padding: .3125rem 3.75rem;
    border-radius: .625rem;
}

.btn-agregar-mas-vendidos :hover{
    color: map-get($color , productos);
    background-color: map-get($color , amarillo);
}

.conjunto-productos-perifericos-1{
    background-color: map-get($color , productos);
    width: 13.1981rem;
    border-radius: .625rem;
    margin-left: 10px;
    margin-top: 20px;
}

.conjunto-productos-perifericos-2{
    background-color: map-get($color , productos);
    width: 13.1981rem;
    border-radius: .625rem;
    margin-left: 10px;
    margin-top: 20px;
}

.conjunto-productos-perifericos-3{
    background-color: map-get($color , productos);
    width: 13.1981rem;
    border-radius: .625rem;
    margin-left: 10px;
    margin-top: 20px;
}