.grupo-de-productos{
    font-size: 1.625rem;
    font-weight: bold;
    margin-top: 1.875rem;
    margin-bottom: 20px;
}

.grids-orden-productos{
    display: grid;
    grid-template-columns: 1,1fr;
    grid-template-rows: 70px 30px 50px;
}

.titulo-perifericos-2{
    font-size: 1.625rem;
    font-weight: bold;
    margin-top: 1.875rem;
    margin-bottom: 20px;
}

.titulo-perifericos-2 ::first-letter{
    color: map-get($color , amarillo);
    font-size: 50px;
}

.titulo-perifericos-1 ::first-letter{
    color: map-get($color , amarillo);
    font-size: 50px;
}

.contenedor-productos{
    margin-bottom: 1.25rem;
}

.grupo-productos-perifericos{
    display: flex;
}

.imagen-periferico-mas-vendidos :hover{
    border-radius: 5px;
    transform: scale(1.01);
    transition: all 500ms ;
}

.imagen-principal-perifericos :hover{
    border-radius: 5px;
    transform: scale(1.01);
    transition: all 500ms ;
}

.contenedor-productos-perifericos-1{
    margin: 0 .625rem;
    background-color: map-get($color , productos);
    max-width: 18.7931rem;
    max-height: 32.7456rem;
    border-radius: .625rem;
}

.contenedor-productos-perifericos-2{
    margin: 0 .625rem;
    background-color: map-get($color , productos);
    max-width: 18.7931rem;
    max-height: 32.7456rem;
    border-radius: .625rem;
}

.contenedor-productos-perifericos-3{
    margin: 0 .625rem;
    background-color: map-get($color , productos);
    max-width: 18.7931rem;
    max-height: 32.7456rem;
    border-radius: .625rem;
}

.contenedor-productos-perifericos-4{
    margin: 0 .625rem;
    background-color: map-get($color , productos);
    max-width: 18.7931rem;
    max-height: 32.7456rem;
    border-radius: .625rem;
}

.contenedor-productos-perifericos-5{
    margin: 0 .625rem;
    background-color: map-get($color , productos);
    max-width: 18.7931rem;
    max-height: 32.7456rem;
    border-radius: .625rem;
}

.contenedor-productos-perifericos-6{
    margin: 0 .625rem;
    background-color: map-get($color , productos);
    max-width: 18.7931rem;
    max-height: 32.7456rem;
    border-radius: .625rem;
}

.txt-productos-perifericos{
    margin: 0 .75rem;
}

.txt-productos-perifericos p{
    margin-bottom: 1.25rem;
    font-size: 1rem;
    font-weight: 300;
}

.txt-productos-perifericos h3{
    margin-bottom: .375rem;
    font-size: 1.25rem;
    font-weight: 400;
}

.btn-productos-p-g-g{
    text-align: center;
}

.btn-productos-p-g-g button{
    font-size: 1rem;
    margin-bottom: .9375rem;
    margin-top: .3125rem;
    background-color: map-get($color , letra);
    border: none;
    padding: .3125rem 6.5625rem;
    border-radius: .625rem;
}

.btn-productos-p-g-g :hover{
    background-color: map-get($color , amarillo);
    color: map-get($color , productos);
    transition: all 700ms ;
}