@media (max-width:1230px){
    /*Comienzo Segunda Pagina*/
        .filtros-titulos p{
            font-size: 1.25rem;
        }
    
        .filtros-lista ul li{
            font-size: 1.0625rem;
        }
    
        .filtros-padre {
            padding-left: 1.25rem;
        }
    
        .filtro-productos {
            margin-top: 3.125rem;
        }
    
        .imagen-producto img{
            width: 12.5rem;
        }
    
        .btn-agregar-ofertas button{
            padding: .3125rem 3.75rem;
        }
    
        .conjunto-productos-1{
            max-width: 12.5rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-2{
            max-width: 12.5rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-3{
            max-width: 12.5rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-4{
            max-width: 12.5rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-5{
            max-width: 12.5rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-6{
            max-width: 12.5rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-7{
            max-width: 12.5rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-8{
            max-width: 12.5rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-9{
            max-width: 12.5rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .cuerpo-ofertas{
            height: 100px;
        }
    
        .Icon-padre {
            padding-left: 9.375rem;
        }
    
        .txt-ofertas h2{
            font-size: 1.5rem;
        }
    
        .txt-ofertas p{
            font-size: 1rem;
        }
    
        .icon img{
            width: 2.5rem;
        }
    
        .txt a{
            font-size: 1.0625rem;
        }
    
        .txt-productos p{
            font-size: .875rem;
        }
    
        .txt-productos h3{
            font-size: 1rem;
        }
    /*Fin Segunda Pagina*/
    }