@media (max-width:1350px){
    /*Comienzo Segunda Pagina*/
        .Icon-padre {
            padding-left: 12.5rem;
        }
    
        .filtros-padre {
            padding-left: 3.125rem;
        }
    
        .imagen-producto img{
            width: 16.875rem;
        }
    
        .btn-agregar-ofertas button{
            padding: .3125rem 5.625rem;
        }
    
        .conjunto-productos-1{
            max-width: 16.875rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-2{
            max-width: 16.875rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-3{
            max-width: 16.875rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-4{
            max-width: 16.875rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-5{
            max-width: 16.875rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-6{
            max-width: 16.875rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-7{
            max-width: 16.875rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-8{
            max-width: 16.875rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    
        .conjunto-productos-9{
            max-width: 16.875rem;
            max-height: 33.875rem;
            margin: 0 .3125rem;
        }
    /*Fin Segunda Pagina*/
    /*Comienzo tercera/cuarta/quinta Pagina*/
        .filtros-padre {
            padding-right: 1.875rem;
        }
    
        .titulo-perifericos-1{
            font-size: 1.4375rem;
        }
    
        .contenedor-perifericos{
            width: 43.75rem;
            height: 23.75rem;
        }
    
        .contenedor-gabinetes{
            width: 43.75rem;
            height: 23.75rem;
        }
    
        .contenedor-graficas{
            width: 43.75rem;
            height: 23.75rem;
        }
    
        .conjunto-productos-perifericos-1{
            width: 8.75rem;
        }
    
        .conjunto-productos-perifericos-2{
            width: 8.75rem;
        }
    
        .conjunto-productos-perifericos-3{
            width: 8.75rem;
        }
    
        .imagen-periferico-mas-vendidos img{
            width: 8.75rem;
        }
    
        .btn-agregar-mas-vendidos button{
            padding: .3125rem 30px;
        }
    
        .txt-productos-perifericos p{
            font-size: 1rem;
        }
    
        .txt-productos-perifericos h3{
            font-size: 1.1875rem;
        }
    
        .titulo-perifericos-2 h2{
            font-size: 1.875rem;
        }
    
        .contenedor-productos-perifericos-1{
            max-width: 12.5rem;
        }
    
        .contenedor-productos-perifericos-2{
            max-width: 12.5rem;
        }
    
        .contenedor-productos-perifericos-3{
            max-width: 12.5rem;
        }
    
        .contenedor-productos-perifericos-4{
            max-width: 12.5rem;
        }
    
        .contenedor-productos-perifericos-5{
            max-width: 12.5rem;
        }
    
        .contenedor-productos-perifericos-6{
            max-width: 12.5rem;
        }
    
        .imagen-principal-perifericos img{
            width: 12.5rem;
        }
    
        .btn-productos-p-g-g button{
            padding: .3125rem 3.5625rem;
        }
    }