@media (max-width:375px){
    /*Comienzo primera Pagina/inicio*/
        .carrusel img{
            height: 8.75rem;
        }
    
        .icon-footer-conjunto{
            margin: 0 .125rem;
        }
    
        .Icon-txt-header img{
            width: 25px;
        }
    
        .logo a{
            margin-right: 0px;
        }
    /*Fin primera Pagina/inicio*/
    }