@media (max-width:425px){
    /*Comienzo primera Pagina/inicio*/
        .carrusel img{
            height: 9.375rem;
        }
    
        .destacados-1{
            max-width: 9.0625rem;
            max-height: 15.875rem;
        }
    
        .destacados-2{
            max-width: 9.0625rem;
            max-height: 15.875rem;
        }
    
        .destacados-3{
            display: none;
        }
    
        .destacados-4{
            display: none;
        }
    
        .footer{
            height: 11.875rem;
        }
    
        .logo-footer a{
            font-size: 1.875rem;
        }
    
        .icon-footer-conjunto img{
            padding-top: 1.25rem;
        }
    
        .icon-footer img{
            width: 1.875rem;
        }
    
        .Icon-txt-header img{
            margin-left: .3125rem;
            margin-right: 10px;
        }
    /*Fin primera Pagina/inicio*/
    }