@media (max-width:600px){
    /*Comienzo Segunda pagina*/
        .conjunto-productos-3{
            display: none;
        }
    
        .conjunto-productos-6{
            display: none;
        }
    
        .conjunto-productos-9{
            display: none;
        }
    
        .icon img{
            width: 1.875rem;
        }
    
        .txt a{
            font-size: .9375rem;
        }
    
        .txt{
            margin: 0 .625rem;
        }
    
        .icon{
            margin: 0 .625rem;
        }
    
        .Icon-txt-header img{
            width: 1.875rem;
        }
    /*Fin Segunda pagina*/
    }