.footer {
    margin-top: 2.5rem;
    background-color: $footer;
    height: 15.625rem;
}

.logo-footer a{
    text-decoration: none;
    font-size: 4.375rem;
    font-weight: bold;
    color: $amarillo;
    padding-top: 4.375rem;
}

.logo-footer {
    @include flex(row,wrap,center,none);
}

.contenedor-icon{
    @include flex(row,wrap,space-between,none);
    margin: 1.25rem 1.25rem;
}

.icon-footer {
    margin: 0 1.25rem;
}

.icon-footer img{
    width: 3.125rem;
}

.icon-footer-conjunto{
    display: flex;
}