.lupa-responsive {
    display: none;
}

.logo-login-carrito{
    background-color: map-get($color , fondo);
    height: 80px;
    @include flex(row,wrap,space-between,center);
}

.logo a{
    text-decoration: none;
    font-size: 4rem;
    font-weight: bold;
    color: map-get($color , amarillo);
    margin: 24px;
}

.logo :hover{
    cursor: pointer;
}

.Icon-txt-header{
    display: flex;
    align-items: center ;
    padding-right: .625rem;
}

.Icon-txt-header img{
    width: 40px;
    margin: 0 .625rem;
}

.Icon-txt-header h2{
    margin: 0 .3125rem;
    font-size: 1.25rem;
    font-weight: 400;
}

.contenedor-navbar{
    @include flex(row,wrap,space-around,center);
    background-color: map-get($color , secundario);
    height: 3.75rem;
}

.navbar ul{
    display: flex;
    gap: 1.875rem;
}

.navbar ul li a{
    text-decoration: none;
    background-color: map-get($color, fondo);
    border-radius: 1.25rem;
    color: map-get($color, letra);
    font-size: 1rem;
    width: 500;
    padding: .3125rem .625rem .3125rem .625rem;
}

.navbar ul :hover{
    cursor: pointer;
    color: map-get($color , amarillo);
    transform: scale(1.04);
    transition: all 600ms;
}

.Boton-buscar{
    position: relative;
}

.Boton-buscar img{
    position: absolute;
    top: .3125rem;
    right: .625rem;
    width: 1.5625rem;
}

.Boton-buscar input{
    align-items: center;
    width: 25rem;
    padding: 7px;
    border-radius: 3.125rem;
    border: none;
}