.lupa-responsive {
    display: none;
}

.logo-login-carrito{
    background-color: #1F2123;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    text-decoration: none;
    font-size: 4rem;
    font-weight: bold;
    color: #FCD05C;
    margin: 24px;
}

.Icon-txt-header{
    display: flex;
    align-items: center ;
    padding-right: .625rem;
}

.Icon-txt-header img{
    width: 40px;
    margin: 0 .625rem;
}

.Icon-txt-header h2{
    margin: 0 .3125rem;
    font-size: 1.25rem;
    font-weight: 400;
}

.contenedor-navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2d2e34 ;
    height: 3.75rem;
}

.navbar ul{
    display: flex;
    gap: 1.875rem;
}

.navbar ul li a{
    text-decoration: none;
    background-color: #1F2123;
    border-radius: 1.25rem;
    color: #D9D9D9;
    font-size: 1rem;
    width: 500;
    padding: .3125rem .625rem .3125rem .625rem;
}

.navbar :hover{
    color: #FCD05C;
}

.Boton-buscar{
    position: relative;
}

.Boton-buscar img{
    position: absolute;
    top: .3125rem;
    right: .625rem;
    width: 1.5625rem;
}

.Boton-buscar input{
    align-items: center;
    width: 25rem;
    padding: 7px;
    border-radius: 3.125rem;
    border: none;
}